[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Ade-yem
	email = 93265896+Ade-yem@users.noreply.github.com
[core]
	editor = \"C:\\Users\\HP\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
