<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FoodRevy</title>
	{% load static %}
	
	<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}">
</head>
<body>

	<div class="main-container">
		<header>
			<div class="inner-container">
				<img src="{% static 'users/images/landingPage/right-image.png' %}" class="bg-img">
				<img src="{% static 'users/images/landingPage/FoodRevy.png' %}" class="bg-fade-img">
				<div class="navBar">
					<div class="logo">
						<img src="{% static 'users/images/landingPage/top-left-image.png' %}" class="logo-bg">
						<div class="logo-img">
							<img src="{% static 'users/images/landingPage/newLogo.png' %}"  >
						</div>
					</div>
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Menu</a></li>
						<li><a href="">Community</a></li>
						<li><a href="">About us</a></li>
					</ul> 

					<form class="search-nav">
						<input type="search" name="" placeholder="search" class="search">
						<button>Register your restaurant</button>
					</form>


				</div>

				<div>
					{% if messages %}
					  {% for message in messages %}
						<div class="alert">{{message}}</div>
					  {% endfor %}
					{% endif %}
				</div>

				<div class="road">
					<div class="hero-section">
						<div class="hero-text">
							<div class="hero-left">
								<h1>FIND THE BEST<br> RESTUARANTS NEAR YOU!</h1>
								<p>FoodRevy is a platform that offers an esay way to find the best restuarants and eatries  near you in a few clicks</p>
							</div>
							
							<img src="{% static 'users/images/landingPage/image-01.png' %}" class="">
						</div>

						<div class="hero-buttons">
							<button><a href="{% url 'signup' %}">Sign up for free</a></button>
							<p>The app is available to download on</p>
							<img src="{% static 'users/images/landingPage/apple-store-logo.png' %}" class="appStore">
							<img src="{% static 'users/images/landingPage/google-store-logo.png' %}" class="googleStore">
						</div>
					</div>


					<div class="bottom-images">
						<div class="header-bottom-left">
							<img src="{% static 'users/images/landingPage/left-bottom-img.png' %}" class="header-bottom-left-img1">
						</div>
						<img src="{% static 'users/images/landingPage/image-03.png' %}" class="header-bottom-left-img2">

						<div class="header-bottom-right">
							<img src="{% static 'users/images/landingPage/image-02.png' %}">
						</div>
					</div>
				</div>
				
			</div>
		</header>
	</div>


	<img src="{% static 'users/images/landingPage/horizontal-rectangle.png' %}" class="horizontal-rectangle">
			

	<main> 
		<!-- section 1 of the main -->
		<div class="main-container about-container">
			<div class="about-section">
				<div class="about-left">
					<div class="about-ellipse">
						<img src="{% static 'users/images/landingPage/about-ellipse2.png' %}" class="about-ellipse2">
						<img src="{% static 'users/images/landingPage/about-ellipse.png' %}" class="about-ellipse1">
						<img src="{% static 'users/images/landingPage/cupofdrink.png' %}" class="cupofdrink">
					</div>
				</div>
				<div class="about-right">
					<h1>FoodRevy</h1>
					<p>We provide an avenue for food related businesses to meet potential customers. our easy and interactive platform makes transactions seamless and stressfree.</p>
					<p>Sounds cool right? thats not all, join our community of users to make reviews, post comments, share pictures and lots more...</p>
					<h3>Register|Setup|Review|Moresales|Order|Reserve</h3>
					<button><a href="">Start Now</a></button>
				</div>
			</div>
		</div>

		<div class="cake-plate-inbetween">
			<img src="{% static 'users/images/landingPage/image-04.png' %}" class="cake-plate">
		</div>

		<div class="main-container features-main-container">
			<div class="features-container">
				<div class="features-text1-container">
					<h1>Features</h1>
					<p>expereience amazing features on the app</p>
				</div>
				<div class="features-01">
					<div class="features-image-01">
						<img src="{% static 'users/images/landingPage/features-image-01.png' %}">
						<p>Give top <br>Reviews</p>
					</div>
					<div class="features-image-02">
						<img src="{% static 'users/images/landingPage/features-image-02.png' %}">
						<p>Locate <br> Restaurants</p>
					</div>
					<div class="features-image-03">
						<img src="{% static 'users/images/landingPage/features-image-03.png' %}">
						<p>Order Food <br>& Pasteries</p>
					</div>
					<div class="features-image-04">
						<img src="{% static 'users/images/landingPage/features-image-04.png' %}">
						<p>Get varities<br> of drinks</p>
					</div>
				</div>
			</div>
		
		
		
			<!--  inner features section -->
			<div class="features-inner-container">
				<div>
					<div class="features-circles">
						<img src="{% static 'users/images/landingPage/circle-image-01.png' %}">
						<img src="{% static 'users/images/landingPage/circle-image-02.png' %} " class="circle-image-02">
						<img src="{% static 'users/images/landingPage/circle-image-03.png' %}" class="circle-image-03">
					</div>
		
					<div class="smaller-images">
						<img src="{% static 'users/images/landingPage/Polygon1.png' %}" class="polygon1">
						<img src="{% static 'users/images/landingPage/Polygon2.png' %}" class="polygon2">
						<img src="{% static 'users/images/landingPage/Polygon3.png' %}" class="polygon3">
						<img src="{% static 'users/images/landingPage/circle1.png' %}" class="circle">
						<img src="{% static 'users/images/landingPage/Star1.png' %}" class="star">
						<img src="{% static 'users/images/landingPage/Rectangle1.png' %}" class="rectangle">
					</div>
				</div>
		
				<div>
					<div class="pack-01">
						<img src="{% static 'users/images/landingPage/feature-top-left.png' %}" class="feature-top-left">
						<img src="{% static 'users/images/landingPage/image-07.png' %}" class="image-07">
						<h2>More amazing features</h2>
					</div>
		
					<div class="pack-02">
						<img src="{% static 'users/images/landingPage/phone-image-01.png' %}" class="phone-image-01">
						<h3>Make payments on the App</h3>
						<p>Foodrevy gives you the option of making payments or transactions on the app without stress</p>
					</div>
		
					<div class="pack-03">
						<img src="{% static 'users/images/landingPage/phone-image-02.png' %}" class="phone-image-02">
						<p>Reserve table in your favourite restuarant</p>
					</div>
		
				</div>
			</div>
		</div>

		


	</main>



</body>
</html>